/* GENERAL */

html {
    font-family: 'Merriweather Sans', sans-serif;
    color: #ff0800;
}

body {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}


/* HEADER */
nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    padding: 1rem 2rem;
    color: #ff0800;
}

nav a:hover,
nav a:focus-visible {
    color: #192bc2;
    transition: color .3s ease-in-out;
}

a:visited {
    color: #ff0800;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

ul li {
    list-style: none;
}

/* MAIN */
a {
    text-decoration: none;
    color: #ff0800;
}

/* ABOUT */
.PageTitel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

#container-about{
    display: flex;
    column-gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    border: 0.1rem dashed #192bc2;
}

#container-about .item {
    display: flex;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    border: 0.1rem dashed #192bc2;

}

#container-about .item:nth-child(1){
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
#container-about .item:nth-child(1) ul {
    border: 0.1rem dashed #192bc2;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-content: space-between;

}



#container-about .wrapper .item:nth-child(1){
    flex-direction: row;
    justify-content: flex-end;
}


/* FOOTER */

